@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<ul>
    <li><a href="~/dev/DropSchema" class="btn-link">Drop Schema</a></li>
    <li><a href="~/dev/CreateSchema" class="btn-link">Create Schema</a></li>
</ul>